[submodule "public/image/alchemy"]
	path = public/image/alchemy
	url = https://github.com/lieyanqzu/shiqidi-alchemy-images.git
[submodule "scripts/edge-functions"]
	path = scripts/edge-functions
	url = https://github.com/lieyanqzu/shiqidi-edge-functions.git
